@import url('https://fonts.googleapis.com/css2?family=Arbutus&display=swap');
:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-menu: #0d007b;
    --color-borrar: #FF0000;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;

    --fuente-arbutus:"Arbutus", serif;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner 
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}*/ 

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-content-tittle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    display: flex;
    flex-direction: column;
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.resultado_lista_regalos_titulo{
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.resultado_lista_regalos_subtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-borrar);
    width: 40%;
    padding: 2%;
    gap: 5%;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    border: 5px solid var(--color-primary);
    background-color: var(--color-tertiary);
}

.resultado_lista_regalos_subtitulo img{
    max-width: 15%;
}

.resultado_lista_regalos_texto{
    display: flex;
    flex-direction: row;
    margin: 3% auto;
    align-items: center;
    justify-content: center;
    padding: 3%;
    gap: 5%;
    border-radius: 20px;
    border: 2px solid #000000;
    box-sizing: content-box;
    font-family: var(--fuente-arbutus);
    font-size: 1.6em;
    text-align: center;
    width: 70%;
    border: 5px solid var(--color-primary);
    background-color: var(--color-tertiary);
    color: var(--color-borrar);
}

.resultado_lista_regalos_texto img {
    max-width: 15%;
    height: auto;
}

.mensaje-borrar-amigo{
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-borrar);
    margin: 50px 0;
    text-align: center;

}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    text-transform: uppercase;
}

.input-name::placeholder{
    text-transform: none;
}

.header-banner-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    background-color: var(--color-menu);
    justify-content: flex-start;
}

.header-banner-menu-link{
    color: var(--color-white) ;
    text-decoration: none;
    font-weight:bold;
    font-size: 1.2em;
    font-family: var(--fuente-arbutus);
    gap: 40px;
    padding: 30px;
}

.header-banner-menu-link:hover{
    background-color: var(--color-primary) ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.button-container {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
.name-list{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    width: 100%;
    gap: 20%;
}

.lista_amigos{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: auto;
    font-family: var(--fuente-arbutus);
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 32px;
    border: 5px solid var(--color-primary);
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    gap:7%;
    padding: 2%;
    margin-bottom: 2%;
}

.lista_amigos:hover{
    border: 5px solid var(--color-borrar);
    color: var(--color-borrar);
    background-color: var(--color-primary);
    text-decoration: underline;
}

.result-list {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap ;
    align-items: center;
    color: #05DF05;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto; 
    padding: 0;
}

.resultado_amigo_elegido{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100% ;
    max-width: 300px;
    height: auto;
    font-family: var(--fuente-arbutus);
    font-size: 1.5rem;
    border-radius: 32px;
    border: 5px solid var(--color-primary);
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    gap:5%;
    padding: 1% 10%;
    margin-bottom: 3%;
    box-sizing: bor;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.borrar-lista-amigos{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 80px 10px 40px;
    color: var(--color-white);
    background-color: var(--color-borrar);
    font-size: 16px;
}

.borrar-lista-amigos img{
    max-width: 30%;
    max-height: 30%;
    object-fit: contain;
    margin-right: 30px;
    filter:invert(1);
}

.borrar-lista-amigos:hover{
    color: #a1a1a1;
    background-color: #B70000;
    filter: invert(0);
}
